---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout title="Talenter – Lupen OBOS">
  <div class="prose max-w-none">
    <h1>Talenter</h1>
    <p>Fast spalte: <em>3 unge spillere du må følge med på</em> – oppdatert månedlig.</p>
    <ul>
      <li><a href="/artikler/3-unge-spillere-august-2025/">August 2025</a></li>
    </ul>
  </div>
</BaseLayout>
